* {
  margin: 0;
}

h2 {
  font-size: 3.157rem;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 2.369rem;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1.333rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: 1.333rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header nav {
  color: #E9E8DD;
  background-color: #2D728F;
  padding: 16px;

  display: grid;
  grid-template-columns: 1fr 3fr auto;
  gap: 16px;
  align-items: center;
}

header div {
  height: 40px;
  background: linear-gradient(180deg,rgba(45, 114, 143, 1) 0%, rgba(45, 114, 143, 0) 100%);
}

header .logo {
  width: 160px;
  height: auto;
}

.hero {
  padding-top: 160px;
  padding-bottom: 40px;

  color: #E9E8DD;
  
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.35)),
    url("../images/beachMan.png");
  background-size: cover;
  background-position: 40%;
  background-repeat: no-repeat;

  border-radius: 0 0 80px 0;
}

.hero div {
  padding-top: 320px;
  display: grid;
  gap: 40px;
  text-align: center;
}

.hero div a {
  text-align: center;
  color: #E9E8DD;
  text-decoration: none;
  background-color: #2D728F;

  display: inline-block;
  margin: 40px auto;
  padding: 20px 80px;
  border-radius: 16px;
}