* {
  margin: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

html {
  background-color: #FFE6CE;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

h1 {
  font-size: 1.777rem;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

h2 {
  font-size: 1.333rem;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1.777rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  position: sticky;
  top: 0;
}

header nav {
  color: #E9E8DD;
  background-color: #2D728F;
  padding: 16px;

  display: grid;
  grid-template-columns: 1fr 3fr auto;
  gap: 16px;
  align-items: center;
}

header div {
  height: 40px;
  background: linear-gradient(180deg,rgba(45, 114, 143, 1) 0%, rgba(45, 114, 143, 0) 100%);
}

header .logo {
  width: 15vw;
  height: auto;
}

header .hamburger {
  width: 20vw;
  height: auto;
}

.hero {
  padding: 80px 0 40px 0;
  margin-top: -40px;

  color: #E9E8DD;
  
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.35)),
    url("../images/beachMan.png");
  background-size:cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;

  border-radius: 0 0 40px 0;
}

.hero div {
  margin-top: 200px;
  display: grid;
  gap: 40px;
  text-align: center;
}

.hero div a {
  text-align: center;
  color: #E9E8DD;
  text-decoration: none;
  background-color: #2D728F;

  display: inline-block;
  margin: auto;
  padding: 16px 40px;
  border-radius: 16px;
}

.quote {
  color: #2A2A26;
  margin: 80px 16px 80px 16px;
  text-align: center;
}

.woman {
  background-color: #FFCB9A;
  border-radius: 40px 0 0 0;
  min-height: 100vh;
}

.woman div {
  margin: 0 16px 0 16px;
  padding: 40px 0;
}

.woman img {
  display: block;
  margin: 40px auto;

  width: 40vw;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 20%;
  border-radius: 16px;
}